{{#each gallery}}
<div class="square">
	<img class="gallerybg" src="images/{{this.img}}-bg.png" alt="{{this.alt}}">
	<img class="logo" src="images/{{this.img}}.png" alt="{{this.alt}}">
	<a class="study" href="#" alt="view case study">
		<img src="images/casestudy.png" alt="view case study">
	</a>
	<a class="link" href="#" alt="external link">
		<img src="images/link.png" alt="external link">
	</a>
</div>
{{/each}}